@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  body {
    scrollbar-width: thin;
    scrollbar-color: #00ff5e #053535;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: #00ff5e;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #053535;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .circle-color {
    transform: translateY(50px);
  }

  .circle svg {
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;

    -webkit-animation-name: rotate;
    -moz-animation-name: rotate;
    -ms-animation-name: rotate;
    -o-animation-name: rotate;
    animation-name: rotate;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

  }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(360deg);
    }

    to {
      -webkit-transform: rotate(0);
    }
  }

  @-moz-keyframes rotate {
    from {
      -moz-transform: rotate(360deg);
    }

    to {
      -moz-transform: rotate(0);
    }
  }

  @-ms-keyframes rotate {
    from {
      -ms-transform: rotate(360deg);
    }

    to {
      -ms-transform: rotate(0);
    }
  }

  @-o-keyframes rotate {
    from {
      -o-transform: rotate(360deg);
    }

    to {
      -o-transform: rotate(0);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0);
    }
  }

  .bottom-unset {
    bottom: unset;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}